<div class="form">
  <form action="{{ url_for('email.send') }}" method="post">
    <div class="input-group">
      <label for="address">{{ data['form']['labels']['address'] }}</label>

      {% if field and field['address'] %}
        <input name="address" id="address" value="{{ field['address'] }}" />
      {% else %}
        <input name="address" id="address" />
      {% endif %}

      {% if error and error['address'] %}
        <p class="error">{{ error['address'] }}</p>
      {% endif %}
    </div>

    <div class="input-group">
      <label for="subject">{{ data['form']['labels']['subject'] }}</label>

      {% if field and field['subject'] %}
        <input name="subject" id="subject" value="{{ field['subject'] }}" />
      {% else %}
        <input name="subject" id="subject" />
      {% endif %}

      {% if error and error['subject'] %}
        <p class="error">{{ error['subject'] }}</p>
      {% endif %}
    </div>

    <div class="input-group">
      <label for="content">{{ data['form']['labels']['content'] }}</label>

      {% if field and field['content'] %}
        <textarea name="content" id="content">{{ field['content'] }}</textarea>
      {% else %}
        <textarea name="content" id="content"></textarea>
      {% endif %}

      {% if error and error['content'] %}
        <p class="error">{{ error['content'] }}</p>
      {% endif %}
    </div>

    <button type="submit">{{ data['form']['buttons']['send'] }}</button>
  </form>

  {% if error and error['error'] %}
    <p class="error main">{{ error['error'] }}</p>
  {% endif %}
</div>